<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    div{
        width: 300px;
        height: 200px;
        float: left;
        text-align: center;
    }
</style>
<body>
    <div style="background-color: aquamarine;">
        <h1><a href="a/1">A</a></h1>
        <h1><a href="a/2">A</a></h1>
        <h1><a href="a/3">A</a></h1>
    </div>
    <div style="background-color: yellowgreen;">
        <h1><a href="b/1">B</a></h1>
        <h1><a href="b/2">B</a></h1>
        <h1><a href="b/3">B</a></h1>
    </div>
    <div style="background-color: orange;">
        <h1><a href="c/1">C</a></h1>
        <h1><a href="c/2">C</a></h1>
        <h1><a href="c/3">C</a></h1>
    </div>
    <a href="/logout">退出</a>
</body>
</html>